<div class="row justify-content-center">
  <div class="col-md-auto">
    <div class="login_form test">
      <div *ngIf="userIsNotLogged()">
        <form (ngSubmit)="signin()">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input name='name' [(ngModel)]="name" type="text" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="role">Rol</label>
            <input name='role' [(ngModel)]="role" type="text" id="role" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input name='email' [(ngModel)]="email" type="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input name='password' [(ngModel)]="password" type="password" id="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>
