h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 55px;
}

.btn-info {
  margin: 5px;
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.header {
  background-color: cadetblue;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
