<div class="todo">
  <div class="tyv">
    <h1>Editar producto</h1>
    <button class="volver btn btn-group-sm btn-secondary" (click)="goBack()">volver</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="login_form test">
        <div *ngIf="userIsWarehouseman() && product">
          <form (ngSubmit)="editProduct()">
            <div class="form-group">
              <label for="name">Nombre del producto</label>
              <input name='name' [(ngModel)]="product.name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="messaureUnit">Unidad de medida del producto</label>
              <input name='meassureUnit' [(ngModel)]="product.meassureUnit" type="text" id="meassureUnit" class="form-control">
            </div>
            <div class="form-group">
              <label for="quantity">Cantidad del producto</label>
              <input name='quantity' [(ngModel)]="product.quantity" type="number" id="quantity" class="form-control">
            </div>
            <div class="form-group">
              <label for="price">Precio del producto</label>
              <input name='price' [(ngModel)]="product.price" type="number" id="price" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userIsCashier()">Usuario no autorizado.</div>
  <div *ngIf="userIsNotLogged()">Inicie sesión.</div>
</div>

